
.btn {
    height: 48px;
    width: 182px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 19px;
    padding: 16px 0x;
    cursor: pointer;  
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    }
    
    .btn:disabled{
      opacity: 0.6;
      pointer-events: none;
    }
    
    .btn_primary {
     background-color: var(--blue);
     color: var(--white);
     cursor: pointer;
    
     
    }
    
    .btn_primary:hover  {
      background-color: var(--blue-3);
      color: var(--white);
    
     }
     
    .btn_primary:disabled {
      background-color: var(--blue);
      color: var(--white);
    }
    
    
    .btn_secondary {
      background-color:var(--purple);
      color: var(--white);
      
    }
    
    .btn_secondary:hover  {
      background-color: var(--purple-2);
      color: var(--white);
      
    }
    
    .btn_secondary:disabled{
      background-color: var(--purple);
      color: var(--white);
      
    }
    
    .btn_alternate {
      background-color: var(--white);
      border: 1px solid var(--grey-3);  
     
    }
    
    .btn_alternate:hover {
      border: 1px solid var(--black);
    }
    
    .btn_alternate:disabled{
      background-color: var(--white);
      border: 1px solid var(--grey-3);
          
    }
    
    
    
      
    